@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-GradWhite: rgb(219, 234, 254);
  --color-GradSkyBlue: rgb(147, 197, 253);
  --color-GradBlue: rgb(59, 130, 246);
  --animate-line-shadow: line-shadow 15s linear infinite;
 
  @keyframes line-shadow {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% -100%;
    }
  }
}

